<div class="container has-text-left">      
    <h1 class="title ">Gem Name: <%= @jewel.name %> </h1>
    <h1 class="title ">Gem Description: <%= @jewel.desc %> </h1>
    <h1 class="title ">Gem Tag: <%= @jewel.tags %> </h1>
</div>
<hr>
<div class="container"> <h2 class="title">Comments</h2></div>
<div class="container has-text-left">
    <% @post.each do |p| %>
        <h2><%= p.content%></h2>
        <% if current_user && current_user.id == p.user_id %>
        <%= link_to "Edit Comment", to="/edit/#{p.id}", class: "button is-primary " %>
        <%= link_to "delete Comment", to="/delete/#{p.id}", method: :delete, class: "button is-danger " %>
        <% end %>

    <% end %>
</div>

<div class="container">
    <%= form_with(model: Micropost.create, local: true) do |f| %>
        <%= f.hidden_field :jewel_id, value: @jewel.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.label :content, "Comment", :class => 'label' %>
        <%= f.text_field :content, :class => 'input' %>
        <%= f.submit "Add Comment", class: "button is-primary" %>
    <% end %>
</div>