<table class="table container">   
<% if logged_in? %>                      
  <thead>                          
  <th>Gems</th>
  <th>Desc</th>
  <th>Tags</th>
  <th>Edit</th>
  </thead>
<% @jewel.each do |jewel| %>      
  <tr>
    <td><%= jewel.name %></td>  
    <td><%= jewel.desc %></td>  
    <td><%= jewel.tags %></td>  
    <td> <%= link_to "Edit Gems", to="#{jewel.id}/edit", class: "button is-primary " %> </td>
<% end %>                     
</table> 
<div class="container has-text-centered">
    <%= link_to "Back", to="/jewels/show", class: "button is-primary " %>
</div>
<% else %>
  <p class="has-text-centered title">Please login </p>
<% end %>
