<table class="table container">                   
  <thead>                          
  <th>Gems</th>
  <th>Desc</th>
  <th>Tags</th>
  <th>Comments</th>
  <th>Edit</th>
  <th>Add To Favorite</th>
  </thead>
<% @jewels.each do |jewel| %>      
  <tr>
    <td><%= jewel.name %></td>  
    <td><%= jewel.desc %></td>  
    <td><%= jewel.tags %></td>  
    <td> <%= link_to "Comments", jewel_comments_path(jewel) , class: "button is-primary " %> </td>
    <td> <%= link_to "Edit Gems", to="/jewels/#{jewel.id}/edit", class: "button is-primary " %> </td>
    <td>
      <%= form_with(model: Favorite.create, remote: true) do |f| %>
      <div><%= f.hidden_field :jewel_id, value: jewel.id %></div>
      <div><%= f.hidden_field :user_id, value: current_user.id %></div>
      <%= f.submit "favorite", class: "button is-primary" %>
      <% end %>
    </td>
<% end %>                     
</table> 
<div class="container has-text-centered">
    <%= link_to "Add Gems", to="/jewels/new", class: "button is-primary " %>
</div>
<%= render 'jewels/search' %>

