<table class="table container">   
<% if logged_in? %>                      
  <thead>                          
  <th>Gems</th>
  <th>Desc</th>
  <th>Tags</th>
  <th>Edit</th>
  <th>Add To Favorite</th>
  </thead>
<% @jewel.each do |jewel| %>      
  <tr>
    <td><%= jewel.name %></td>  
    <td><%= jewel.desc %></td>  
    <td><%= jewel.tags %></td>  
    <td> <%= link_to "Edit Gems", to="#{jewel.id}/edit", class: "button is-primary " %> </td>
    <td>
      <%= form_with(model: Favorite.create, remote: true) do |f| %>
      <div><%= f.hidden_field :jewel_id, value: jewel.id %></div>
      <div><%= f.hidden_field :user_id, value: current_user.id %></div>
      <%= f.submit "favorite", class: "button is-primary" %>
      <% end %>
    </td>
<% end %>                     
</table> 
<div class="container has-text-centered">
    <%= link_to "Add Gems", to="/jewels/new", class: "button is-primary " %>
</div>

<div class="columns ">
  <div class="column is-one-fifth search-form">
    <%= form_tag search_path, method: :get do %>
      <%= text_field_tag :search, nil,  class: 'input margin-top ', :placeholder => "search by tags here"%>
      <%= submit_tag "Search" , :class => 'button is-primary ' %>
    <% end %>
  </div>
</div>

<% else %>
  <p class="has-text-centered title">Please login/signup </p>
<% end %>

